In [51]:
import pandas as pd

df_meta_data = pd.read_csv("data/articles_metadata.csv", sep=",", header=0, index_col=0)
df_meta_data.reset_index(drop=True, inplace=True)
df_meta_data.head()

   category_id  created_at_ts  publisher_id  words_count
0            0  1513144419000             0          168
1            1  1405341936000             0          189
2            1  1408667706000             0          250
3            1  1408468313000             0          230
4            1  1407071171000             0          162

In [52]:
df_meta_data[df_meta_data.isna()].sum(axis=1).value_counts()

0.0    364047
Name: count, dtype: int64

In [53]:
df_meta_data.describe()

         category_id  created_at_ts  publisher_id    words_count
count  364047.000000   3.640470e+05      364047.0  364047.000000
mean      283.108239   1.474070e+12           0.0     190.897727
std       136.723470   4.293038e+10           0.0      59.502766
min         0.000000   1.159356e+12           0.0       0.000000
25%       199.000000   1.444925e+12           0.0     159.000000
50%       301.000000   1.489422e+12           0.0     186.000000
75%       399.000000   1.509891e+12           0.0     218.000000
max       460.000000   1.520943e+12           0.0    6690.000000

In [3]:
df_embeddings = pd.DataFrame(pd.read_pickle('data/articles_embeddings.pickle'))
df_embeddings.head()

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,-0.335148,-0.559561,-0.500603,0.165183,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,-0.715657,-0.897996,-0.359747,0.398246,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,-0.730477,-0.066126,-0.754899,-0.242004,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,-0.825593,-0.710591,-0.040099,-0.110514,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,-0.568816,0.341194,-0.600554,-0.125644,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292

In [4]:
df_embeddings[df_embeddings.isna()].sum(axis=1).value_counts()

0.0    364047
Name: count, dtype: int64

In [56]:
df_articles = pd.concat([df_meta_data, df_embeddings], axis=1)
df_articles.head()

,category_id,created_at_ts,publisher_id,words_count,0,1,2,3,4,5,...,240,241,242,243,244,245,246,247,248,249
0,0,1513144419000,0,168,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,1,1405341936000,0,189,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,1,1408667706000,0,250,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,1,1408468313000,0,230,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,1,1407071171000,0,162,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292

In [6]:
import os
df_clicks = None
for f in os.listdir("data/clicks")[0:10]:
    current_df = pd.read_csv(f"data/clicks/{f}", sep=",", header=0)
    df_clicks = pd.concat([df_clicks, current_df], axis=0, ignore_index=True)

len(df_clicks)

21963

In [7]:
df_clicks.describe()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
count,21963.000000,2.196300e+04,2.196300e+04,21963.000000,21963.000000,2.196300e+04,21963.000000,21963.000000,21963.000000,21963.000000,21963.000000,21963.000000
mean,3926.747985,1.506850e+15,1.506850e+12,3.475254,170267.023813,1.506851e+12,3.910486,2.353731,11.451304,1.527114,18.498429,1.793926
std,2299.009514,1.085124e+10,1.085124e+07,2.865876,82032.784781,1.226388e+07,0.419453,1.037562,7.987203,2.057508,7.148587,1.186377
min,0.000000,1.506825e+15,1.506825e+12,2.000000,290.000000,1.506827e+12,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
25%,1942.000000,1.506844e+15,1.506844e+12,2.000000,108854.000000,1.506845e+12,4.000000,1.000000,2.000000,1.000000,13.000000,1.000000
50%,3885.000000,1.506854e+15,1.506854e+12,3.000000,160474.000000,1.506855e+12,4.000000,3.000000,17.000000,1.000000,21.000000,2.000000
75%,5895.500000,1.506858e+15,1.506858e+12,4.000000,233769.000000,1.506859e+12,4.000000,3.000000,17.000000,1.000000,25.000000,2.000000
max,7981.000000,1.506861e+15,1.506861e+12,42.000000,363976.000000,1.506998e+12,4.000000,4.000000,20.000000,11.000000,28.000000,7.000000

In [62]:
df = pd.merge(df_clicks, df_articles, how='inner', left_on='click_article_id', right_index=True)
df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,...,240,241,242,243,244,245,246,247,248,249
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,...,0.670260,0.299059,-0.826797,-0.812070,0.382404,-0.081983,-0.802341,-0.418486,0.167978,0.278694
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,...,0.421613,-0.228761,-0.791743,0.021998,-0.019606,0.146993,-0.811947,-0.396069,0.301935,0.486068
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,...,-0.010313,-0.422416,0.372931,-0.540084,0.242361,0.616011,0.704936,0.571687,0.545211,0.650550
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,...,0.779381,0.505448,-0.262309,-0.442881,0.695514,0.748444,-0.209889,-0.231323,-0.082891,-0.203830
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,...,-0.501580,-0.096082,0.303779,-0.502767,0.390972,0.489991,0.255620,0.087651,0.189143,-0.459281

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,21963.0,3.926748e+03,2.299010e+03,0.000000e+00,1.942000e+03,3.885000e+03,5.895500e+03,7.981000e+03
session_id,21963.0,1.506850e+15,1.085124e+10,1.506825e+15,1.506844e+15,1.506854e+15,1.506858e+15,1.506861e+15
session_start,21963.0,1.506850e+12,1.085124e+07,1.506825e+12,1.506844e+12,1.506854e+12,1.506858e+12,1.506861e+12
session_size,21963.0,3.475254e+00,2.865876e+00,2.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,4.200000e+01
click_article_id,21963.0,1.702670e+05,8.203278e+04,2.900000e+02,1.088540e+05,1.604740e+05,2.337690e+05,3.639760e+05
...,...,...,...,...,...,...,...,...
245,21963.0,2.599836e-01,4.049490e-01,-9.804325e-01,3.044027e-02,4.013850e-01,5.742865e-01,9.478587e-01
246,21963.0,-9.192774e-02,4.609277e-01,-9.381865e-01,-4.627237e-01,-1.889365e-01,2.556196e-01,9.592278e-01
247,21963.0,9.260241e-02,4.825305e-01,-9.345707e-01,-3.844301e-01,8.765099e-02,5.476905e-01,9.481391e-01
248,21963.0,1.348613e-01,3.637562e-01,-8.692004e-01,-8.289147e-02,1.522132e-01,3.730497e-01,9.828042e-01
249,21963.0,1.905054e-01,3.952240e-01,-9.676199e-01,-2.038298e-01,2.349864e-01,4.860680e-01,9.453309e-01

In [65]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_columns = ['session_start', 'session_size', 'click_timestamp', 'click_environment', 'click_deviceGroup', 'click_os', 'click_country', 'click_region', 'click_referrer_type', 'category_id', 'created_at_ts', 'publisher_id', 'words_count']
scaled = scaler.fit_transform(df[scaled_columns])
df_scaled = df.drop(columns=['session_id'])
df_scaled[scaled_columns] = scaled


article_id = df['click_article_id']
df_scaled = df_scaled.drop(columns=['click_article_id'])
df_scaled.insert(loc=1, column='click_article_id', value=article_id)

df_scaled.describe().round(2)

,user_id,click_article_id,session_start,session_size,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,...,240,241,242,243,244,245,246,247,248,249
count,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,...,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00,21963.00
mean,3926.75,170267.02,-0.00,-0.00,0.00,0.00,0.00,-0.00,0.00,0.00,...,0.05,0.03,-0.10,-0.19,0.23,0.26,-0.09,0.09,0.13,0.19
std,2299.01,82032.78,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.49,0.41,0.50,0.45,0.39,0.40,0.46,0.48,0.36,0.40
min,0.00,290.00,-2.22,-0.51,-1.96,-6.94,-1.30,-1.18,-0.26,-2.45,...,-0.98,-0.95,-0.96,-0.97,-0.92,-0.98,-0.94,-0.93,-0.87,-0.97
25%,1942.00,108854.00,-0.55,-0.51,-0.47,0.21,-1.30,-1.18,-0.26,-0.77,...,-0.43,-0.23,-0.56,-0.50,-0.02,0.03,-0.46,-0.38,-0.08,-0.20
50%,3885.00,160474.00,0.38,-0.17,0.30,0.21,0.62,0.69,-0.26,0.35,...,-0.01,-0.10,-0.26,-0.37,0.39,0.40,-0.19,0.09,0.15,0.23
75%,5895.50,233769.00,0.77,0.18,0.63,0.21,0.62,0.69,-0.26,0.91,...,0.56,0.51,0.30,0.02,0.55,0.57,0.26,0.55,0.37,0.49
max,7981.00,363976.00,1.09,13.44,12.01,0.21,1.59,1.07,4.60,1.33,...,0.96,0.86,0.98,0.95,0.93,0.95,0.96,0.95,0.98,0.95